<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VisualPHPUnit - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">VisualPHPUnit</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class='active'><a href="/">Home</a></li>
              <li><a href="/">Archives</a></li>
              <li><a href="/graphs">Graphs</a></li>
              <li><a href="/">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class='row'>

        <div class='span3'>
          <div class='well' style='padding: 8px 0;'>
            <ul class="nav nav-list">
              <li class='nav-header'>Files</li>

              <li>
                <div style='height: 330px; overflow: scroll;'>

                  <ul class='nav' style='list-style: none;'>
                    <li>
                      <a href='#'>
                        <i class='icon-file'></i>
                        List View
                      </a>
                    </li>
                    <li class='active'>
                      <a href='#'>
                        <i class='icon-folder-open'></i>
                        Gallery View
                        <ul style='list-style: none;'>
                          <li class='active'>
                            <a href='#'>
                              <i class='icon-folder-close'></i>
                              List View
                            </a>
                          </li>
                        </ul>
                      </a>
                    </li>
                  </ul>

                </div>
              </li>

              <li>
                <p>
                  Tips: You can select multiple files by single-clicking them.
                  You can also use shift+click to select a range of files, or
                  ctrl+click to select an entire directory.
                </p>
              </li>

              <li class='divider'></li>

              <li class='nav-header'>Options</li>
              <li>
                <i class='icon-pencil'></i>
                Store Statistics
              </li>
              <li>
                <i class='icon-camera'></i>
                Create Snapshots
              </li>
              <li>
                <i class='icon-exclamation-sign'></i>
                Sandbox Errors
              </li>

              <li class='divider'></li>

              <li style='text-align: center;'>
                <button type="submit" class="btn btn-primary">Run Tests</button>
              </li>

            </ul>
          </div>
        </div>

        <div class='span9'>
            <div class='row'>
                <div class='span9'>
                  <?php foreach ( $suites as $key => $suite ): ?>

                    <h3><?=$suite['name'];?></h3>
                    <div style='margin-bottom: 10px;'>
                      <span class="label label-<?=$suite['status'];?>"><?=ucfirst($suite['status']);?></span>
                    </div>

                    <?php foreach ( $suite['tests'] as $test ): ?>
                      <div class="alert alert-block alert-<?=$test['status'];?>">
                        <h4 class="alert-heading"><?=$test['name'];?></h4>
                        <?php if ( $test['message']): ?>
                        <p style='margin-top: 10px;'>
                          <strong><?=$test['message'];?></strong>
                        </p>
                        <?php endif; ?>
                        <ul class='nav'>
                          <li style='margin-top: 5px;'>
                            <em>Execution time:</em>
                            <?=$test['time'];?>s
                          </li>
                          <?php if ( $test['output']): ?>
                            <li style='margin-top: 5px;'>
                              <em>Debug Output:</em>
                              <pre><?=$test['output'];?></pre>
                            </li>
                          <?php endif; ?>
                          <?php if ( $test['trace']): ?>
                            <li style='margin-top: 5px;'>
                              <em>Stack Trace:</em>
                              <pre><?=$test['trace'];?></pre>
                            </li>
                          <?php endif; ?>
                        </ul>
                      </div>
                    <?php endforeach; ?>

                  <?php endforeach; ?>
                </div>
            </div>

            <div class='row'>
                <div class='span4'>
                    <h3>Suite Statistics</h3>

                    <h4>Failed (<?=$stats['suites']['failed'];?>/<?=$stats['suites']['total'];?>)</h4>
                    <div class="progress progress-danger" style="margin-bottom: 9px;">
                      <div class="bar" style="width: <?=$stats['suites']['percent_failed'];?>%"></div>
                    </div>

                    <h4>Incomplete (<?=$stats['suites']['incomplete'];?>/<?=$stats['suites']['total'];?>)</h4>
                    <div class="progress progress-warning" style="margin-bottom: 9px;">
                      <div class="bar" style="width: <?=$stats['suites']['percent_incomplete'];?>%"></div>
                    </div>

                    <h4>Skipped (<?=$stats['suites']['skipped'];?>/<?=$stats['suites']['total'];?>)</h4>
                    <div class="progress progress-info" style="margin-bottom: 9px;">
                      <div class="bar" style="width: <?=$stats['suites']['percent_skipped'];?>%"></div>
                    </div>

                    <h4>Succeeded (<?=$stats['suites']['succeeded'];?>/<?=$stats['suites']['total'];?>)</h4>
                    <div class="progress progress-success" style="margin-bottom: 9px;">
                      <div class="bar" style="width: <?=$stats['suites']['percent_succeeded'];?>%"></div>
                    </div>
                </div>

                <div class='span4 offset1'>
                    <h3>Test Statistics</h3>

                    <h4>Failed (<?=$stats['tests']['failed'];?>/<?=$stats['tests']['total'];?>)</h4>
                    <div class="progress progress-danger" style="margin-bottom: 9px;">
                      <div class="bar" style="width: <?=$stats['tests']['percent_failed'];?>%"></div>
                    </div>

                    <h4>Incomplete (<?=$stats['tests']['incomplete'];?>/<?=$stats['tests']['total'];?>)</h4>
                    <div class="progress progress-warning" style="margin-bottom: 9px;">
                      <div class="bar" style="width: <?=$stats['tests']['percent_incomplete'];?>%"></div>
                    </div>

                    <h4>Skipped (<?=$stats['tests']['skipped'];?>/<?=$stats['tests']['total'];?>)</h4>
                    <div class="progress progress-info" style="margin-bottom: 9px;">
                      <div class="bar" style="width: <?=$stats['tests']['percent_skipped'];?>%"></div>
                    </div>

                    <h4>Succeeded (<?=$stats['tests']['succeeded'];?>/<?=$stats['tests']['total'];?>)</h4>
                    <div class="progress progress-success" style="margin-bottom: 9px;">
                      <div class="bar" style="width: <?=$stats['tests']['percent_succeeded'];?>%"></div>
                    </div>

                </div>
            </div>

        </div>
      </div>

    </div>

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script type="text/html" id='usageList'>
      <div id="file_tree" class="">
        <ul class="jqueryFileTree" style="">
          <li class="directory collapsed">
            <a href="#" rel="/srv/http/pu/tests/sample_dir/">sample_dir</a>
            <ul class="jqueryFileTree" style="">
              <li class="file ext_php selected_file"><a href="#" rel="/srv/http/pu/tests/DateTest.php">DateTest.php</a></li>
              <li class="file ext_php selected_file"><a href="#" rel="/srv/http/pu/tests/IncompleteTest.php">IncompleteTest.php</a></li>
            </ul>
          </li>
          <li class="file ext_php selected_file"><a href="#" rel="/srv/http/pu/tests/DateTest.php">DateTest.php</a></li>
          <li class="file ext_php selected_file"><a href="#" rel="/srv/http/pu/tests/IncompleteTest.php">IncompleteTest.php</a></li>
          <li class="file ext_php selected_file"><a href="#" rel="/srv/http/pu/tests/PUTest.php">PUTest.php</a></li>
          <li class="file ext_php"><a href="#" rel="/srv/http/pu/tests/PUTest2.php">PUTest2.php</a></li>
          <li class="file ext_php"><a href="#" rel="/srv/http/pu/tests/SkippedTest.php">SkippedTest.php</a></li>
        </ul>
      </div>
    </script>
    <script>
      $(document).ready(function() {

      });
    </script>

  </body>
</html>
