body {
    margin-top: 1.0em;
    background-color: #fff;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #000000;
}

#container {
    margin: 0 auto;
    width: 960px;
}

hgroup h1 { 
    font-size: 4.8em; 
    color: #000; 
    margin: 0;
}

hgroup h1 a { 
    text-decoration: none;
}

hgroup h2 { 
    margin: 0;
    font-size: 2.5em; 
    color: #000; 
}

.ss {
    height: 85%;
    width: 85%;
}

h3 { text-align: center; color: #40807a; }
a { color: #000; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
