body {
    margin-top: 1.0em;
    background-color: #fff;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #000000;
}

a {
    color: #000;
}

#container {
    margin: 0 auto;
    width: 925px;
}

hgroup h1 {
    font-size: 77px;
    color: #000;
    margin: 0;
}

hgroup h1 a {
    text-decoration: none;
}

hgroup h2 {
    margin: -18px 0 15px 20px;
    font-size: 40px;
    color: #000;
}

p {
    font-size: 16px;
    margin: 16px;
    padding: 0;
}

#ss_cli {
    width: 922px;
    height: 567px;
}

#ss_main {
    width: 922px;
    margin-bottom: 20px;
}

ul {
    margin-left: 10px;
}

ul li {
    margin: 0;
}

#footer p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}
