body {
    margin-top: 1.0em;
    background-color: #fff;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #000000;
}

#container {
    margin: 0 auto;
    width: 960px;
}

hgroup h1 { 
    font-size: 77px; 
    color: #000; 
    margin: 0;
}

hgroup h1 a { 
    text-decoration: none;
}

hgroup h2 { 
    margin: -28px 0 15px 20px;
    font-size: 40px; 
    color: #000; 
}

h3 { text-align: center; color: #40807a; }
a { color: #000; }
