<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5>Archives</h5>
				<p>Not implemeted</p>
				<h5>Display</h5>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default active" title="Passed"> <input
						type="checkbox" autocomplete="off"><span
						class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					</label> <label class="btn btn-default" title="Skipped"> <input
						type="checkbox" autocomplete="off"><span
						class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					</label> <label class="btn btn-default" title="Not implemented"> <input
						type="checkbox" autocomplete="off"><span
						class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
					</label> <label class="btn btn-default" title="Failures"> <input
						type="checkbox" autocomplete="off"><span
						class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
					</label>
				</div>
				<hr />

				<button type="button" id="run"
					class="btn btn-primary btn-lg btn-block">Display</button>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<p>This is the archives view.</p>
	</div>
</div>
