<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5>Files</h5>
				<div id="tree"></div>
				<hr />
				<h5>Options</h5>
				<div class="checkbox">
					<label> <input type="checkbox" value="">Store
						Statistics
					</label>
				</div>
				<div class="checkbox">
					<label> <input type="checkbox">Create Snapshots
					</label>
				</div>
				<div class="checkbox">
					<label> <input type="checkbox">Sandbox Errors
					</label>
				</div>
				<hr />
				<h5>Display</h5>
				<span class="label label-success">Succeed</span> <span
					class="label label-info">Skipped</span> <span
					class="label label-warning">Incomplete</span> <span
					class="label label-danger">Failed</span>
				<hr />

				<button type="button" id="run"
					class="btn btn-primary btn-lg btn-block">Run</button>
			</div>
		</div>
	</div>
	<div class="col-md-9">content</div>
</div>

