html, body, #container {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Helvetica, Georgia, sans-serif;
    margin: 0;
}

#browser {
    float: left;
    width: 33%;
    height: 100%;
    padding-left: 5px;
    padding-right: 10px;
    border-right: 3px solid #49708A;
    background-color: #EBF7F8;
}

#browser h1 {
    margin: 5px 0 25px 0;
    font-size: 28px;
    color: #49708A;
}

#browser fieldset {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #49708A;
    padding-left: 0;
    cursor: pointer;
}

#browser fieldset legend {
    color: #49708A;
    font-size: 18px;
    font-weight: bold;
    padding: 0 1em 0 0;
}

#browser fieldset ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default;
}

#browser fieldset ul li {
    color: #FFFFFF;

}

#browser fieldset ul li #file_tree {
    background-color: #FFFFFF;
    border-top: 2px solid #49708A;
    border-left: 2px solid #49708A;
    -moz-border-radius-topleft: 12px;
    -webkit-border-top-left-radius: 12px;
    padding: 4px;
    height: 330px;
    overflow: scroll;
    margin-bottom: 10px;
    width: 100%;
}

#browser fieldset ul li #file_help {
    font-size: 12px;
    color: #49708A;
}

#browser fieldset ul li label {
    font-size: 14px;
    color: #49708A;
    width: 42%;
    display: inline-block;
}

#browser fieldset ul li input {
    width: 55%;
    display: inline-block;
}

#browser fieldset ul li select {
    width: 55%;
    display: inline-block;
}

#browser fieldset ul li input[type='submit'] {
    width: 30%;
    margin-left: 43%;
    margin-top: 17px;
}

#browser fieldset ul li .error_message {
    display: inline-block;
    margin-left: 43%;
    margin-bottom: 6px;
    font-size: 11px;
    font-weight: bold;
    color: #FF847C;
}


#browser fieldset ul li #sandbox_inputs {
    display: inline-block;
    margin-left: -8px;
    width: 150px;
}

#browser fieldset ul li #sandbox_inputs label {
    width: 90px;
    font-size: 11px;
}


#browser fieldset ul li #sandbox_inputs input {
    width: 20px;
}

#output {
    float: left;
    padding-left: 10px;
    width: 63%;
}

#output #header {
    display: inline-block;
    width: 100%;
}

#output #header h2 {
    font-size: 24px;
    color: #858585;
    margin: 5px 0 25px 0;
    display: inline-block;
    float: left;
}

#output #header span {
    font-size: 16px;
    font-weight: bold;
    color: #858585;
    margin-top: 10px;
    display: inline-block;
    float: right;
}

.rounded {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;

}

#output .loader {
    text-align: center;
    margin-top: 28%;
}

#output .box {
    overflow:auto;
    margin: 10px 0;
    background-color:#EEEEEE;
    border:1px solid #A0A0A0;
    padding:7px;
    color: #858585;
    font-size: 12px;
    -webkit-box-shadow: 1px 1px 2px #CCC;
    -moz-box-shadow: 1px 1px 2px #CCC;
    box-shadow: 0px 0px 7px #999;
}

#output .testsuite {
    padding:4px 7px;
    overflow:auto;
    vertical-align: center;
}

#output .test {
    padding: 3px 7px;
    overflow:auto;
    vertical-align: center;
    clear:both;
}

#output .light {
    float:left;
    width: 5px;
    height:5px;
    margin-top:3px;
}

#output .testsuite .light {
    width:9px;
    height: 9px;
}

#output .name {
    margin-left: 20px;
    float: left;
    width: 30%;
    font-weight: bold;
    word-wrap: break-word;
}

#output .testsuite .name {
    font-size: 15px;
    font-weight:bold;
}

#output .results .name {
    width: 50%;
}

#output .test .name {
    padding-left:2px;
}

#output .test .light {
    margin-left: 2px;
}

#output .expand {
    float:right;
    width:15px;
}

#output .stats {
    margin-left: 20px;
    float: left;
    width: 60%;
}

#output .testsuite .stats {
    margin-top: 2px;
}

#output .testsuite .info {
    clear:both; 
    margin-top:19px;
    margin-left:32px;
}

#output .info ul {
    list-style:none;
    padding: 0;
}

#output .info ul li div {
    border: 1px solid #858585;
    width: 90%;
    height: 1em;
    padding: 1px;
    margin-bottom: 5px;
}

#output .info ul li div span {
    display: inline-block;
    height: 100%;
    float: left;
}

#output .info ul li div .percent_success {
    background-color: #40C43C;
    width: 25%;
}

#output .info ul li div .percent_skipped {
    background-color: #FFDD53;
    width: 25%;
}

#output .info ul li div .percent_incomplete {
    background-color: #A2A2A2;
    width: 25%;
}

#output .info ul li div .percent_failure {
    background-color: #E05151;
    width: 25%;
}

#output .info ul li .category {
    display:inline-block;
    width:100px;
    font-weight:bold;
}

#output .light {
    width:5px;
    height: 5px;
}

#output .success .light {
    background-color: #40C43C;
    border: 1px solid #21881D;
}

#output .failure .light {
    background-color: #E05151;
    border: 1px solid #9E2626;
}

#output .incomplete .light {
    background-color: #A2A2A2;
    border: 1px solid #4D4D4D;
}

#output .skipped .light {
    background-color: #FFDD53;
    border: 1px solid #C09D12;
}

#output .results .light {
    background-color: #0099FF;  
    border: 1px solid #000066;
}

#output hr.big {
    background-color: #A0A0A0;
    height: 1px;
    border: none;
}

#output hr.small {
    background-color: #CCCCCC;
    clear:both;
    height: 1px;
    border: none;
}

#output .button.expand {
    border: 1px solid #888888;
    width: 14px;
    height: 14px;
    text-align:center;
    font-weight:bold;
    cursor: pointer;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    background-color: #CCCCCC;
}

#output .collected {
    width: 45%;
}

#output #stats_container {
    margin-bottom: 15px;
    height: 180px;
}

#output #left {
    float: left;
}

#output #right {
    float: right;
}

#output .test .button.expand {
    margin-right:2px;
    width: 11px;
    height: 11px;
    font-size:10px;
}

#output .more_test {
    clear:both;
    float:left;
    width:879px;
    padding: 0px 29px;
}

#output .test .stacktrace,
#output .test .variables {
    margin-top: 10px;
    padding:10px;
    border: 1px solid #888888;
    background-color: #CCCCCC;
}

#output pre {
    word-wrap: break-word;
}

#output .hide {
    display:none;
}

#output .show {
    display:block;
}

#output .error {
    clear: both;
}

#output .error .message {
    font-size: 16px;
    margin: 11px;
    float: left;
    width: 85%;
}

#output .error .file {
    float:right;
    margin-top:10px;
    font-size: 16px;
    margin-right: 10px;
}

#output .error .line {
    float:right;
    font-size: 20px;
    margin-top: 8px;
}

#output .error .light {
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    background-color: #E05151;
    border: 1px solid #9E2626;
    width: 30px;
    height: 27px;
    text-align:center;
    font-weight:bold;
    font-size:24px;
    color: white;
    padding-top:3px;
}
