/* -------------------------------------------------------------- 
  
   Reset default browser CSS.
   
   Based on work by Eric Meyer:
   http://meyerweb.com/eric/tools/css/reset/index.html
   
-------------------------------------------------------------- */

/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img { border: none; }

/* end reset */

.rounded {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;

}

#container {
	width: 960px;
        margin: 10px auto;
	position: relative;
}

/* index
------------------------------ */

#tests {
        float: left;
        width: 450px;
        clear: left;
}

#archives {
        float: right;
        width: 450px;
}

form fieldset {
        border-top: 1px solid #bbbbbb;
}

form fieldset legend {
        padding: 10px 10px 10px 0px;
        font-size: 18px;
        cursor: pointer;
}

#file_tree {
        width: 426px;
        height: 400px;
        border-top: solid 1px #BBB;
        border-left: solid 1px #BBB;
        border-bottom: solid 1px #FFF;
        border-right: solid 1px #FFF;
        background: #FFF;
        overflow: scroll;
        margin-left: 5px;
        padding: 5px;
}

form fieldset ol li label {
        display: inline-block;
        width: 170px; 
}

form fieldset ol li select {
        display: inline-block;
        width: 270px; 
        margin-bottom: 6px;
}

form fieldset ol li input {
        display: inline-block;
        width: 264px; 
        margin-bottom: 6px;
}

form fieldset ol li #file_help {
        display: inline-block;
        margin-left: 5px;
        margin-bottom: 6px;
        font-size: 11px;
}

form fieldset ol li .error_message {
        display: inline-block;
        margin-left: 175px;
        margin-bottom: 6px;
        font-size: 11px;
        color: #E05151;
}

form fieldset ol li div {
        display: inline-block;
        margin-left: -8px;
        width: 250px;
}

form fieldset ol li div input {
        width: 20px;
}

form fieldset ol li div label {
        width: 90px;
        font-size: 11px;
}

input[type='submit'] {
        margin-top: 18px;
        margin-left: 170px;
        width: 90px; 
}

.box {
	overflow:auto;
	margin: 10px 0;
	background-color:#EEEEEE;
	border:1px solid #A0A0A0;
	padding:7px;
	color: #858585;
	font-family: "Lucida Grande", Helvetica, Arial, "MS Trebuchet", sans-serif;
  	font-size: 12px;
	-webkit-box-shadow: 1px 1px 2px #CCC;
	-moz-box-shadow: 1px 1px 2px #CCC;
	box-shadow: 0px 0px 7px #999;
}

.testsuite {
	padding:4px 7px;
	overflow:auto;
	vertical-align: center;
}

.test {
	padding: 3px 7px;
	overflow:auto;
	vertical-align: center;
	clear:both;
}

.light {
	float:left;
	width: 5px;
	height:5px;
	margin-top:3px;
}

.testsuite .light {
	width:9px;
	height: 9px;
}

.name {
	margin-left: 20px;
	float: left;
	width: 200px;
	font-weight: bold;
}

.testsuite .name {
	font-size: 15px;
	font-weight:bold;
}

.test .name {
	padding-left:2px;
}

.test .light {
	margin-left: 2px;
}

.expand {
	float:right;
	width:15px;
}

.stats {
	margin-left:20px;
	float:left;
	max-width:700px;
}

.testsuite .stats {
	margin-top:2px;
}

.testsuite .info {
        clear:both; 
	margin-top:19px;
        margin-left:32px;
}

.info ul {
        list-style:none;
}

.info ul li div {
        border: 1px solid #858585;
        width: 50%;
        height: 1em;
        padding: 1px;
        margin-bottom: 5px;
}

.info ul li div span {
        display: inline-block;
        height: 100%;
        float: left;
}

.info ul li div .percent_success {
	background-color: #40C43C;
        width: 25%;
}

.info ul li div .percent_skipped {
	background-color: #FFDD53;
        width: 25%;
}

.info ul li div .percent_incomplete {
	background-color: #A2A2A2;
        width: 25%;
}

.info ul li div .percent_failure {
	background-color: #E05151;
        width: 25%;
}

.info ul li .category {
        display:inline-block;
        width:100px;
        font-weight:bold;
}

.info ul .options {
        margin-top: 5px; 
        font-weight: bold;
}

.info ul .links {
        margin-top: 15px; 
        font-weight: bold;
}

.info ul .links a,
.info ul .links a:link,
.info ul .links a:visited {
    	color: #858585;
    	text-decoration: none;
}

.info ul .links a:hover,
.info ul .links a:active {
    	color: #858585;
    	text-decoration: underline;
}

.light {
	width:5px;
	height: 5px;
}

.success .light {
	background-color: #40C43C;
	border: 1px solid #21881D;
}
.failure .light {
	background-color: #E05151;
	border: 1px solid #9E2626;
}
.incomplete .light {
	background-color: #A2A2A2;
	border: 1px solid #4D4D4D;
}
.skipped .light {
	background-color: #FFDD53;
	border: 1px solid #C09D12;
}

.results .light {
        background-color: #0099FF;  
	border: 1px solid #000066;
}

hr.big {
	background-color: #A0A0A0;
	height: 1px;
	border: none;
}

hr.small {
	background-color: #CCCCCC;
	clear:both;
	height: 1px;
	border: none;
}

.button.expand {
	border: 1px solid #888888;
	width: 14px;
	height: 14px;
	text-align:center;
	font-weight:bold;
	cursor: pointer;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	background-color: #CCCCCC;
}

.collected {
        width: 45%;
}

#stats_container {
        margin-bottom: 15px;
        height: 180px;
}

#left {
        float: left;
}

#right {
        float: right;
}

.test .button.expand {
	margin-right:2px;
	width: 11px;
	height: 11px;
	font-size:10px;
}

.more_test {
	clear:both;
	float:left;
	width:879px;
	padding: 0px 29px;
}

.test .stacktrace,
.test .variables {
	margin-top: 10px;
	padding:10px;
	border: 1px solid #888888;
	background-color: #CCCCCC;
}

pre {
        word-wrap: break-word;
}

.hide {
	display:none;
}

.show {
	display:block;
}

.error {
        clear: both;
}

.error .message {
	font-size: 16px;
	margin: 11px;
	float:left;
        width: 65%;
}

.error .file {
	float:right;
	margin-top:10px;
	font-size: 16px;
	margin-right: 10px;
}

.error .line {
	float:right;
	font-size: 20px;
	margin-top: 8px;
}

.error .light {
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	background-color: #E05151;
	border: 1px solid #9E2626;
	width: 30px;
	height: 27px;
	text-align:center;
	font-weight:bold;
	font-size:24px;
	color: white;
	padding-top:3px;
}
