/* -------------------------------------------------------------- 
  
   Reset default browser CSS.
   
   Based on work by Eric Meyer:
   http://meyerweb.com/eric/tools/css/reset/index.html
   
-------------------------------------------------------------- */

/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img { border: none; }

/* end reset */

.rounded {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;

}

#container {
	width: 960px;
        margin: 0 auto;
	position:relative;
}

.box {
	overflow:auto;
	margin: 10px 0;
	background-color:#EEEEEE;
	border:1px solid #A0A0A0;
	padding:7px;
	color: #858585;
	font-family: "Lucida Grande", Helvetica, Arial, "MS Trebuchet", sans-serif;
  	font-size: 12px;
	-webkit-box-shadow: 1px 1px 2px #CCC;
	-moz-box-shadow: 1px 1px 2px #CCC;
	box-shadow: 0px 0px 7px #999;
}

.testsuite {
	padding:4px 7px;
	overflow:auto;
	vertical-align: center;
}

.test {
	padding: 3px 7px;
	overflow:auto;
	vertical-align: center;
	clear:both;
}

.light {
	float:left;
	width: 5px;
	height:5px;
	margin-top:3px;
}

.testsuite .light {
	width:9px;
	height: 9px;
}

.name {
	margin-left: 20px;
	float: left;
	width: 200px;
	font-weight: bold;
}

.testsuite .name {
	font-size: 15px;
	font-weight:bold;
}

.test .name {
	padding-left:2px;
}

.test .light {
	margin-left: 2px;
}

.expand {
	float:right;
	width:15px;
}

.stats {
	margin-left:20px;
	float:left;
	max-width:700px;
}

.testsuite .stats {
	margin-top:2px;
}

.light {
	width:5px;
	height: 5px;
}

.success .light {
	background-color: #40C43C;
	border: 1px solid #21881D;
}
.failure .light {
	background-color: #E05151;
	border: 1px solid #9E2626;
}
.incomplete .light {
	background-color: #A2A2A2;
	border: 1px solid #4D4D4D;
}
.skipped .light {
	background-color: #FFDD53;
	border: 1px solid #C09D12;
}

hr.big {
	background-color: #A0A0A0;
	height: 1px;
	border: none;
/*	border-bottom:1px solid #E8E8E8;
*/	/*margin-left:-7px;
	margin-right:-7px;*/
}

hr.small {
	background-color: #CCCCCC;
	clear:both;
	height: 1px;
	border: none;
/*	margin-left:-7px;
	margin-right:-7px;*/
}

.button.expand {
	border: 1px solid #888888;
	width: 14px;
	height: 14px;
	text-align:center;
	font-weight:bold;
	cursor: pointer;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	background-color: #CCCCCC;
}

.test .button.expand {
	margin-right:2px;
	width: 11px;
	height: 11px;
	font-size:10px;
/*	font-weight:bold;
*/}

.more_test {
	clear:both;
	float:left;
	width:879px;
	padding: 0px 29px;
}

.test .stacktrace {
	margin-top: 10px;
	padding:10px;
	border: 1px solid #888888;
	background-color: #CCCCCC;
}

.test .variables {
	margin-top: 10px;
	padding:10px;
	border: 1px solid #888888;
	background-color: #CCCCCC;
}

.hide {
	display:none;
}

.show {
	display:block;
}

.error .message {
	font-size: 16px;
	margin: 11px;
	float:left;
        width: 65%;
}

.error .file {
	float:right;
	margin-top:10px;
	font-size: 16px;
	margin-right: 10px;
}

.error .line {
	float:right;
	font-size: 20px;
	margin-top: 8px;
}

.error .light {
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	background-color: #E05151;
	border: 1px solid #9E2626;
	width: 30px;
	height: 27px;
	text-align:center;
	font-weight:bold;
	font-size:24px;
	color: white;
	padding-top:3px;
}

.footer {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	color: #858585;
	font-family: "Lucida Grande", Helvetica, Arial, "MS Trebuchet", sans-serif;
  	font-size: 12px;
	width: 800px;
	text-align:center;
	margin-bottom: 20px;
}

.footer a {
	text-decoration: none;
	color: #E05151;
}
