<div class="row">
	<div class="col-md-12">
		<h1>About</h1>

		<p>
			VisualPHPUnit is actively maintained at <a
				href="https://github.com/VisualPHPUnit/VisualPHPUnit">github.com/VisualPHPUnit</a>.
			It is offered under the <a
				href="http://opensource.org/licenses/BSD-3-Clause">BSD License.</a>
		</p>

		<p>Current stable <a href="https://github.com/VisualPHPUnit/VisualPHPUnit/releases">release</a> is v3.1.1, last updated on 29 June 2017.</p>
		<h2>Contributing</h2>

		<p>Bug reports and pull requests are welcomed on the project's
			<a href="https://github.com/VisualPHPUnit/VisualPHPUnit/issues">issue tracker</a>.</p>

	</div>
</div>