<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Backend configuration</h4>

				<form class="form-horizontal">
					<div class="form-group">
						<label for="protocol" class="col-sm-3 control-label">Protocol</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="protocol"
								placeholder="Protocol">
						</div>
					</div>
					<div class="form-group">
						<label for="host" class="col-sm-3 control-label">Host</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="host"
								placeholder="Host">
						</div>
					</div>
					<div class="form-group">
						<label for="port" class="col-sm-3 control-label">Port</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="port"
								placeholder="Port">
						</div>
					</div>
				</form>
				<button type="button" id="apply"
					class="btn btn-primary btn-lg btn-block">Apply</button>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div id="result"></div>
	</div>
	</div>